<div class="TamSayfaDortluBannerSinirlamaAlani">
	<div class="TamSayfaDortluBannerResmi">
		<img src="Resimler/HizliTeslimat.png" border="0" alt="" title="">
	</div>
	<div class="TamSayfaDortluBannerBaslikMetni">
		Bugün Teslimat
	</div>
	<div class="TamSayfaDortluBannerIcerikMetni">
		Saat 14:00'e kadar verdiğiniz siparişler aynı gün kapınızda.
	</div>
</div>