<div class="TamSayfaDortluBannerSinirlamaAlani">
	<div class="TamSayfaDortluBannerResmi">
		<img src="Resimler/GuvenliAlisveris.png" border="0" alt="" title="">
	</div>
	<div class="TamSayfaDortluBannerBaslikMetni">
		Tek Tıkla Güvenli Alışveriş
	</div>
	<div class="TamSayfaDortluBannerIcerikMetni">
		Ödeme ve adres bilgilerinizi kaydedin, güvenli alışveriş yapın.
	</div>
</div>
