<div class="TamSayfaDortluBannerSinirlamaAlani">
	<div class="TamSayfaDortluBannerResmi">
		<img src="Resimler/MobilUyumu.png" border="0" alt="" title="">
	</div>
	<div class="TamSayfaDortluBannerBaslikMetni">
		Mobil Cebinizde
	</div>
	<div class="TamSayfaDortluBannerIcerikMetni">
		Dilediğiniz her yerden güvenli alışverişin keyfini çıkarın.
	</div>
</div>
